* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #343741;
	color: #dcdcdc;
	font-family: "Inter", sans-serif;
}

.container {
	background-color: #1A1B21;
	margin: 2em auto;
	padding: 0;
	max-width: 400px;
}
.btn-linkedIn {
	background-color: #5093e2;
}
.btn-email {
	background-color: #fff;
	margin-right: 17px;
}
.header {
	text-align: center;
}
.header h1 {
	font-weight: bold;
	font-size: 1.5rem;
	color: #fff;
	margin-top: 1em;
}
.header h3 {
	font-weight: normal;
	color: #f3bf99;
	font-size: 0.9rem;
	margin-top: 0.5em;
}
.header small {
	color: #f5f5f5;
	font-size: 0.7rem;
}
.user {
	display: block;
	width: 100%;
	height: 317px;
    border-radius: 10px 10px 0 0;
}
.main-comp {
	margin: 0.5em 2em;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.7em;
	padding: 15px 30px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 14px;
	line-height: 16px;
	margin-top: 2em;
	width: 158px;
	margin-bottom: 2em;
}
.btn img {
	height: 25px;
	width: 25px;
}
.btn-linkedIn {
	color: #fff;
}
.btn-email {
	color: #1e1f26;
}
.btn-email:hover,
.btn-email:focus{
    background-color: #5093e2;
    color: #dcdcdc;
}

.btn-linkedIn:hover,   
.btn-linkedIn:focus{
    color: #1e1f26;
    background-color: #918E9B;
}

.socials {
	display: flex;
	justify-content: center;
}

.main-comp p {
	text-align: justify;
	margin-bottom: 0.8em;
}

.main-comp h2 {
	font-size: 1.6em;
	margin: 0.6em 0;
}
footer{
    background-color: #161619;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot-btn{
    background-color: #918E9B;
    padding: 10px;
    line-height: 0;
    border-radius: 8px;
}
.foot-btn img{
    height: 25px;
    width: 25px;
}
.foot-btn:hover{
    background-color: #fff;
}